---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Color Variables

$primary: #ffffff;
$secondary: #071013;
$accent: #E1AEBA;

// Font Variables

$font-header: 'Roboto', sans-serif;
$font-body: 'Raleway', sans-serif;



/* Custom CSS */

html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
}
.navbar {
  background-color: rgba(18,37,49,0.8);
  height: 10%;
}
.navbar-nav .nav-item {
  font-weight: 500;
  font-size: 22px;
}
.logo {
  font-size: 100%;
  line-height: 30px;
  font-weight: bolder;
  letter-spacing: 3px;
}
#slider {
  height: 90%;
  background-image: url('https://dyzmn8020x6cd.cloudfront.net/sys-master/nonproduct/hb7/hed/9129822453790/hp-women-h117-1_RAPHA_BANNER_1800');
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 0%;
  padding: 200px 0 280px 0;
  position: relative;
  color: white;
  text-shadow: 2px 3px 2px rgba(0,0,0,0.4)
}
#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // background: linear-gradient(to left, #8b86a3, #322e40);
  background-image: url('../img/ram-white.png');
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}
#sign-up {
  text-align: center;
  height: 15%;
  background-color: grey;
  padding: 5px;
}
.sign-up {
background: rgba(0,0,0,0.7);
box-sizing: border-box;
color: rgba(255,255,255,0.8);
padding: 10px 5% 5px;
width: 100%;
height: 100px;
position: absolute;
z-index: 1000;
bottom: 0;
left: 0;
right: 0;
text-align: center;
}
#promo-bar {
  padding-top: 20px;
}
.card-img-top {
  width: 100%;
  height: auto;
}
